.HeroTitle {
  color: var(--mantine-primary-color-9) !important;
  font-family: var(--font-my) !important;
  font-weight: 800;
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 40px;
  }
}

.HeroText {
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 18px;
  }
}

.HeroDescription {
  font-family: var(--font-my) !important;
  font-weight: 500 !important;
  font-size: var(--mantine-font-size-xl) !important;
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 18px !important;
    /* font-weight: 400 !important; */
  }
}
