.links {
  gap: var(--mantine-spacing-xl) !important;
  padding-block: var(--mantine-spacing-xs);
  padding-inline: var(--mantine-spacing-lg);
  border: 1px solid var(--mantine-color-gray-3);
  border-radius: var(--mantine-radius-xl);
  box-shadow: var(--mantine-shadow-xs);
}
.link {
  color: var(--mantine-color-gray-7) !important;
  font-weight: 500;
  &:hover {
    color: var(--mantine-color-gray-9) !important;
  }
}
